In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

Data Collection

In [2]:
kidney_data = pd.read_csv(r'C:\Users\riyab\Desktop\PROJECTS-GIT\kidney\kidney_disease.csv')

In [3]:
kidney_data.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [4]:
kidney_data.shape

(400, 26)

In [5]:
kidney_data.describe()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
count,400.000000,391.000000,388.000000,353.000000,354.000000,351.000000,356.000000,381.000000,383.000000,313.000000,312.000000,348.000000
mean,199.500000,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
std,115.614301,17.169714,13.683637,0.005717,1.352679,1.099191,79.281714,50.503006,5.741126,10.408752,3.193904,2.912587
min,0.000000,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000
25%,99.750000,42.000000,70.000000,1.010000,0.000000,0.000000,99.000000,27.000000,0.900000,135.000000,3.800000,10.300000
50%,199.500000,55.000000,80.000000,1.020000,0.000000,0.000000,121.000000,42.000000,1.300000,138.000000,4.400000,12.650000
75%,299.250000,64.500000,80.000000,1.020000,2.000000,0.000000,163.000000,66.000000,2.800000,142.000000,4.900000,15.000000
max,399.000000,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000

In [6]:
kidney_data['classification'].value_counts()

ckd       248
notckd    150
ckd\t       2
Name: classification, dtype: int64

Missing Values:

In [7]:
kidney_data.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [8]:
kidney_data=kidney_data.dropna()

In [9]:
kidney_data.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
9,9,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,...,29,12100,3.7,yes,yes,no,poor,no,yes,ckd
11,11,63.0,70.0,1.010,3.0,0.0,abnormal,abnormal,present,notpresent,...,32,4500,3.8,yes,yes,no,poor,yes,no,ckd
14,14,68.0,80.0,1.010,3.0,2.0,normal,abnormal,present,present,...,16,11000,2.6,yes,yes,yes,poor,yes,no,ckd
20,20,61.0,80.0,1.015,2.0,0.0,abnormal,abnormal,notpresent,notpresent,...,24,9200,3.2,yes,yes,yes,poor,yes,yes,ckd

In [10]:
kidney_data.shape

(158, 26)

CHANGING CATEGORICAL VALUES TO NUMERICAL

In [11]:
label_encoder = LabelEncoder()
categorical_columns = kidney_data.select_dtypes(include=['object']).columns
kidney_data[categorical_columns] = kidney_data[categorical_columns].apply(lambda col: label_encoder.fit_transform(col.astype(str)))

In [12]:
kidney_data.tail()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
395,395,55.0,80.0,1.020,0.0,0.0,1,1,0,0,...,25,42,23,0,0,0,0,0,0,1
396,396,42.0,70.0,1.025,0.0,0.0,1,1,0,0,...,32,52,36,0,0,0,0,0,0,1
397,397,12.0,80.0,1.020,0.0,0.0,1,1,0,0,...,27,41,28,0,0,0,0,0,0,1
398,398,17.0,60.0,1.025,0.0,0.0,1,1,0,0,...,29,47,33,0,0,0,0,0,0,1
399,399,58.0,80.0,1.025,0.0,0.0,1,1,0,0,...,31,43,35,0,0,0,0,0,0,1

In [13]:
kidney_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158 entries, 3 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              158 non-null    int64
 1   age             158 non-null    float64
 2   bp              158 non-null    float64
 3   sg              158 non-null    float64
 4   al              158 non-null    float64
 5   su              158 non-null    float64
 6   rbc             158 non-null    int32
 7   pc              158 non-null    int32
 8   pcc             158 non-null    int32
 9   ba              158 non-null    int32
 10  bgr             158 non-null    float64
 11  bu              158 non-null    float64
 12  sc              158 non-null    float64
 13  sod             158 non-null    float64
 14  pot             158 non-null    float64
 15  hemo            158 non-null    float64
 16  pcv             158 non-null    int32
 17  wc              158 non-null    int32
 18  rc              158 non-null    int32
 19  htn             158 non-null    int32
 20  dm              158 non-null    int32
 21  cad             158 non-null    int32
 22  appet           158 non-null    int32
 23  pe              158 non-null    int32
 24  ane             158 non-null    int32
 25  classification  158 non-null    int32
dtypes: float64(11), int32(14), int64(1)
memory usage: 24.7 KB

In [14]:
kidney_data.drop('id', axis=1, inplace=True)
kidney_data.drop('appet', axis=1, inplace=True)

In [15]:
kidney_data.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,hemo,pcv,wc,rc,htn,dm,cad,pe,ane,classification
3,48.0,70.0,1.005,4.0,0.0,1,0,1,0,117.0,...,11.2,11,42,14,1,0,0,1,1,0
9,53.0,90.0,1.020,2.0,0.0,0,0,1,0,70.0,...,9.5,8,11,12,1,1,0,0,1,0
11,63.0,70.0,1.010,3.0,0.0,0,0,1,0,380.0,...,10.8,11,25,13,1,1,0,1,0,0
14,68.0,80.0,1.010,3.0,2.0,1,0,1,1,157.0,...,5.6,0,8,2,1,1,1,1,0,0
20,61.0,80.0,1.015,2.0,0.0,0,0,0,0,173.0,...,7.7,4,63,7,1,1,1,1,1,0

In [16]:
kidney_data['classification'].value_counts()

1    115
0     43
Name: classification, dtype: int64

In [17]:
X = kidney_data.drop(columns = 'classification',axis=1)
Y = kidney_data['classification']
print(Y)

3      0
9      0
11     0
14     0
20     0
      ..
395    1
396    1
397    1
398    1
399    1
Name: classification, Length: 158, dtype: int32

FEATURES WITH LEAST IMPORTANCE USING VARIANCE THRESHOLD AND RANDOM FOREST

In [18]:
from sklearn.feature_selection import VarianceThreshold

In [19]:
threshold = 0.01
variance_selector = VarianceThreshold(threshold=threshold)

# Fit the selector to the data
variance_selector.fit(X)

# Get the indices of non-constant features
non_constant_indices = variance_selector.get_support(indices=True)

# Get the names of constant features
constant_features = set(X.columns) - set(X.columns[non_constant_indices])

# Print the constant features
print("Constant or Near-Constant Features:", constant_features)

Constant or Near-Constant Features: {'sg'}

In [20]:
kidney_data.drop('sg', axis=1, inplace=True)

In [21]:
correlated_features = set()
correlation_matrix = kidney_data.corr()
for i in range(len(correlation_matrix.columns)):
    for j in range(i):
        if abs(correlation_matrix.iloc[i, j]) > 0.8:
            colname = correlation_matrix.columns[i]
            correlated_features.add(colname)

In [22]:
print("Highly Correlated Features:", correlated_features)

Highly Correlated Features: {'sc', 'classification'}

In [23]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X, Y)

feature_importances = pd.Series(model.feature_importances_, index=X.columns)
feature_importances = feature_importances.sort_values(ascending=False)

print(feature_importances)

hemo    0.159588
al      0.157512
sc      0.149619
pcv     0.135232
rc      0.093695
bu      0.085498
dm      0.050306
sg      0.045663
htn     0.037272
pc      0.030889
bgr     0.024885
sod     0.010824
su      0.005003
ane     0.004468
bp      0.003844
ba      0.001738
pe      0.001154
cad     0.001076
rbc     0.000610
age     0.000464
wc      0.000381
pot     0.000279
pcc     0.000000
dtype: float64

In [24]:
kidney_data.drop(['pcc','pot','cad','wc','ba','age','dm','pe','bp','su','ane'],axis=1,inplace=True)

In [25]:
print(kidney_data.columns)

Index(['al', 'rbc', 'pc', 'bgr', 'bu', 'sc', 'sod', 'hemo', 'pcv', 'rc', 'htn',
       'classification'],
      dtype='object')

In [26]:
X = kidney_data.drop(columns = 'classification',axis=1)
Y = kidney_data['classification']
print(Y)

3      0
9      0
11     0
14     0
20     0
      ..
395    1
396    1
397    1
398    1
399    1
Name: classification, Length: 158, dtype: int32

TRANING AND TESTING

In [27]:

from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test= train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [28]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(158, 11)
(126, 11)
(32, 11)

LOGISTIC REGRESSION

In [29]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(X_train,Y_train)

C:\Users\riyab\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

TRAINING DATASET PREDICTION ACCURACY

In [30]:
from sklearn.metrics import accuracy_score
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)
print(training_data_accuracy)

1.0

In [31]:
X_test_prediction= model.predict(X_test)
testing_data_accuracy=accuracy_score(X_test_prediction,Y_test)
print(testing_data_accuracy)

0.96875

In [32]:

input_data=(4.0,1,0,117.0,56.0,3.8,111.0,11.2,11,14,1)
input_data_as_numpy_array=np.asarray(input_data)
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)
prediction = model.predict(input_data_reshaped)
print(prediction)

[0]

C:\Users\riyab\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [35]:
kidney_data.tail()

      al  rbc  pc    bgr    bu   sc    sod  hemo  pcv  rc  htn  classification
395  0.0    1   1  140.0  49.0  0.5  150.0  15.7   25  23    0               1
396  0.0    1   1   75.0  31.0  1.2  141.0  16.5   32  36    0               1
397  0.0    1   1  100.0  26.0  0.6  137.0  15.8   27  28    0               1
398  0.0    1   1  114.0  50.0  1.0  135.0  14.2   29  33    0               1
399  0.0    1   1  131.0  18.0  1.1  141.0  15.8   31  35    0               1

In [34]:
import pickle
filename='Kidney_model.sav'
pickle.dump(model,open(filename,'wb'))